.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    font-size: 14px!important;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.total_reviews {
    font-size: 14px!important;
    margin-left: 10px;
}