.checkout-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.checkout-content {
    margin-bottom: 50px;
}

.checkout-content .content-btn,
.checkout-content input {
    color: #252525;
    font-size: 16px;
    border: 2px solid #ebebeb;
    padding: 14px 20px;
    background: #f3f3f3;
    text-align: center;
    display: block;
}

.mpesa input:focus {
    box-shadow: none;
}

.mpesa input {
    height: 50px !important;
    margin-bottom: 0px!important;
}

.checkout-form h4 {
    color: #252525;
    font-weight: 700;
    margin-bottom: 30px;
}

.checkout-form label {
    color: #252525;
    font-size: 16px;
    margin-bottom: 5px;
}

.checkout-form label span {
    color: #d85d5c;
}

.checkout-form input {
    width: 100%;
    height: 46px;
    border: 2px solid #ebebeb;
    margin-bottom: 25px;
    padding-left: 15px;
}

.site-btn {
    color: #ffffff;
    background: #e7ab3c;
    border: 1px solid #e7ab3c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
}

.checkout-form input.street-first {
    margin-bottom: 20px;
}

.checkout-form .create-item {
    padding-top: 15px;
}

.checkout-form .create-item label {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    margin-bottom: 0;
    font-size: 14px;
    color: #252525;
}

.checkout-form .create-item label input {
    position: absolute;
    visibility: hidden;
}

.checkout-form .create-item label input:checked~span {
    background: #e7ab3c;
    border-color: #e7ab3c;
}

.checkout-form .create-item label .checkmark {
    position: absolute;
    left: 0;
    top: 3px;
    height: 13px;
    width: 13px;
    border: 2px solid #B2B2B2;
    border-radius: 2px;
}

.checkout-form .create-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 9px;
    height: 6px;
    border: solid #ffffff;
    border-width: 2px 2px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}

.checkout-form .place-order .order-total {
    border: 2px solid #ebebeb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 22px;
    padding-bottom: 35px;
}

.checkout-form .place-order .order-total .order-table {
    margin-bottom: 64px;
}

.checkout-form .place-order .order-total .order-table li {
    list-style: none;
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    padding-top: 30px;
}

.checkout-form .place-order .order-total .order-table li:first-child {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    padding-top: 0;
}

.checkout-form .place-order .order-total .order-table li.fw-normal {
    font-weight: 400;
    text-transform: capitalize;
}

.checkout-form .place-order .order-total .order-table li.fw-normal span {
    font-weight: 700;
}

.checkout-form .place-order .order-total .order-table li.total-price span {
    color: #e7ab3c;
}

.checkout-form .place-order .order-total .order-table li span {
    float: right;
}

.checkout-form .place-order .order-total .payment-check {
    margin-bottom: 50px;
}

.checkout-form .place-order .order-total .payment-check .pc-item label {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    margin-bottom: 0;
    font-size: 14px;
    color: #252525;
}

.checkout-form .place-order .order-total .payment-check .pc-item label input {
    position: absolute;
    visibility: hidden;
}

.checkout-form .place-order .order-total .payment-check .pc-item label input:checked~span {
    background: #e7ab3c;
    border-color: #e7ab3c;
}

.checkout-form .place-order .order-total .payment-check .pc-item label .checkmark {
    position: absolute;
    left: 0;
    top: 3px;
    height: 13px;
    width: 13px;
    border: 2px solid #B2B2B2;
    border-radius: 2px;
}

.checkout-form .place-order .order-total .payment-check .pc-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 9px;
    height: 6px;
    border: solid #ffffff;
    border-width: 2px 2px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}

.checkout-form .place-order .order-total .order-btn {
    text-align: center;
}

.checkout-form .place-order .order-total .order-btn .place-btn {
    padding: 13px 40px 11px;
    background: #000000;
    border-color: #000000;
}