.header__cart a span {
    height: 15px;
    width: 15px;
    background: #e7ab3c;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -10px;
    right: 2px;
}

.header__cart a i {
    font-size: 18px;
    color: #1c1c1c;
}

.header__cart a {
    position: relative;
}

.navbar-toggler {
    border: none!important;
    outline: none!important;
}

@media (max-width: 767px) {
    .navbar-toggler {
        border: none;
        outline: none;
    }
}

.header__cart {
    margin-top: -10px;
}

@media all and (max-width: 576px) {
    .header__cart {
        margin-top: 0px;
    }
}